/***** Settings Tabs *****/

#em-settings-tabs-container {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

#em-settings-tabs-container > .em-settings-tab{
    display: inline-block;
    padding: 15px 7px;
    border: 1px solid #ccc;
    border-top-width: 4px;
    margin-left: -5px;
    margin-bottom: -1px;
    cursor: pointer;
}

#em-settings-tabs-container > .em-settings-tab.active{
    border-top-color: #0073AA;
    border-bottom-color: #F1F1F1;
}

#em-settings-tabs-container > .em-settings-tab:first-child{
    margin-left: 0px
}

.em-settings-tab-content{
    padding: 10px 0;
    display: none;
}

.em-settings-tab-content.active{
    display: block;
}

.em-settings-tab-content > div{
    padding: 10px 0;
}